<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoenix.qpproject.mapper.MemberMapper">
    <select id="getMemberList" resultType="com.phoenix.qpproject.dto.MemberDTO">
        SELECT
            m.id			AS memberId
            ,m.Email        AS memberEmail
            ,m.Surname		AS memberSurname
            ,m.LastName		AS memberLastname
            ,m.BirthDate	AS memberBDate
            ,m.RegisterDate	AS memberRegDate
            ,m.Gender	    AS memberGender
            ,m.MemberTypeId	AS memberMemberTypeId
            ,m.InstitutionId AS memberInstitutionId
            ,m.MembershipExpirationDate	AS memberMembershipDate
            ,m.Country	    AS memberCountry
            ,m.City	        AS memberCity
            ,m.MajorId	    AS memberMajorId
            ,m.Grade	    AS memberGrade
            ,m.Password	    AS memberPw
        FROM
            members AS m;
    </select>
</mapper>