<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <!-- SQL문과 resultMap을 포함한 Mybatis XML 설정파일의 내용 -->
<mapper namespace="com.phoenix.qpproject.mapper.QuizMapper">

<!-- resultMap 설정 -->
<resultMap type="com.phoenix.qpproject.dto.QuizzesDTO" id="QuizDashboardMap">
    <id column="id" property="quizzesId" />
    <result column="memberId" property="quizzesMemberId" />
    <result column="title" property="quizzesTitle" />
    <result column="subjectId" property="quizzesSubjectId" />
    <result column="quizCreateDateTime" property="quizzesQuizCreateDateTime" />
    <result column="shuffleQuestions" property="quizzesShuffleQuestions" />
    <result column="shuffleOptions" property="quizzesShuffleOptions" />
    <result column="allowedAttempts" property="quizzesAllowedAttempts" />
    <result column="examStartDateTime" property="quizzesExamStartDateTime" />
    <result column="examEndDateTime" property="quizzesExamEndDateTime" />
    <collection property="quizHistoryDTO" resultMap="quizHistoryResultMap" />
</resultMap>

<resultMap type="com.phoenix.qpproject.dto.QuizHistoryDTO" id="quizHistoryResultMap">
    <id column="id" property="quizHistoryId" />
    <result column="memberId" property="quizHistoryMemberId" />
    <result column="quizId" property="quizHistoryQuizId" />
    <result column="startDateTime" property="quizHistoryStartDateTime" />
    <result column="endDateTime" property="quizHistoryEndDateTime" />
    <result column="grade" property="quizHistoryGrade" />
</resultMap>

<!-- SQL문 설정 -->
<select id="getQuizList" resultMap="QuizDashboardMap">
    SELECT
    *
    FROM
    quizzes q
    RIGHT JOIN
    quizhistory qh
    ON
    q.id = qh.quizId;
</select>
</mapper>