<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<!-- 사용자 정의 title -->
<th:block layout:fragment="customTitle">
    <meta charset ="UTF-8">
    <title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customContents">
    <table border="1">
        <thead>
        <tr>
            <th>회원 아이디</th>
            <th>회원 패스워드</th>
            <th>회원 성</th>
            <th>회원 이름</th>
            <th>회원 등급</th>
            <th>회원 이메일</th>
            <th>회원 주소</th>
            <th>가입 날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${not #lists.isEmpty(memberList)}" th:each="l : ${memberList}">
            <td th:text="${l.memberId}"></td>
            <td th:text="${l.memberPw}"></td>
            <td th:text="${l.memberSurname}"></td>
            <td th:text="${l.memberFirstname}"></td>
            <td th:text="${l.memberMemberTypeId}"></td>
            <td th:text="${l.memberEmail}"></td>
            <td th:text="${l.memberCity}"></td>
            <td th:text="${l.memberRegDate}"></td>
        </tr>
        <tr th:unless="${not #lists.isEmpty(memberList)}">
            <td colspan="7">등록된 회원의 정보가 없습니다.</td>
        </tr>
        </tbody>
    </table>
</th:block>
</html>